body {
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

.checkbox-wrapper {
    display: block;
    margin-bottom: 10px;
}

input[type=checkbox] {
    margin-right: 10px;
}

button {
    display: block;
    margin: 20px auto;
}

