<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Charts</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <h1>Stock Chart</h1>
    <form method="POST">
        <div>
            <label for="stock-pair">Select stock pair:</label>
            <select name="stock_pair" id="stock-pair">
                <option value="SWK,IQV">SWK, IQV</option>
                <option value="SWK,URI">SWK, URI</option>
                <!-- Add more stock pairs here -->
            </select>
        </div>
        <div class="checkbox-container">
            <input type="checkbox" name="volume" id="volume">
            <label for="volume">Display Volume</label>
        </div>
        <div class="checkbox-container">
            <input type="checkbox" name="bollinger_bands" id="bollinger_bands">
            <label for="bollinger_bands">Display Bollinger Bands</label>
        </div>
        <div class="checkbox-container">
            <input type="checkbox" name="moving_averages" id="moving_averages">
            <label for="moving_averages">Display Moving Averages</label>
        </div>
        <div class="checkbox-container">
            <input type="checkbox" name="rsi" id="rsi">
            <label for="rsi">Display RSI</label>
        </div>
        <div class="checkbox-container">
            <input type="checkbox" name="line_graph" id="line_graph">
            <label for="line_graph">Display Line Graph</label>
        </div>

        <input type="submit" value="Generate Charts">
    </form>

    <h2>First Stock Chart</h2>
    <img src="static/first_stock_chart.png" alt="First Stock Chart">
    <h2>Second Stock Chart</h2>
    <img src="static/second_stock_chart.png" alt="Second Stock Chart">

    <h2>Combined Stock Chart</h2>
    <img src="static/combined_stock_chart.png" alt="Combined Stock Chart">
</body>
</html>

