<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <script src="static/main.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Charts</title>
    <link rel="stylesheet" href="static/styles.css">
</head>

<body>
    <h1>Stock Chart</h1>
    <a href="{{ url_for('channels') }}">Channels Strategy</a>
    <form method="POST">
        <div>
            <label for="stock-pair">Select stock pair:</label>
            <select name="stock_pair" id="stock-pair">
                <!-- Options will be populated here by JavaScript -->
            </select>
        </div>
        <div class="checkbox-container">
            <input type="checkbox" name="volume" id="volume">
            <label for="volume">Display Volume</label>
        </div>
        <div class="checkbox-container">
            <input type="checkbox" name="bollinger_bands" id="bollinger_bands">
            <label for="bollinger_bands">Display Bollinger Bands</label>
        </div>
        <div class="checkbox-container">
            <input type="checkbox" name="moving_averages" id="moving_averages">
            <label for="moving_averages">Display Moving Averages</label>
        </div>
        <div class="checkbox-container">
            <input type="checkbox" name="rsi" id="rsi">
            <label for="rsi">Display RSI</label>
        </div>
        <div class="checkbox-container">
            <input type="checkbox" name="line_graph" id="line_graph">
            <label for="line_graph">Display Line Graph</label>
        </div>

        <input type="submit" value="Generate Charts">
        <p id="capital">Capital: $10,000</p>
        <p id="percentage-profit">Percentage Profit: 0%</p>
        <p id="alpha">Alpha: 0</p>
        <p id="beta">Beta: 0</p>
        <p id="sharpe-ratio">Sharpe Ratio: 0</p>


    </form>
    <h2>Combined Stock Chart</h2>
    <img src="static/combined_stock_chart.png" alt="Combined Stock Chart">

    <h2>First Stock Chart</h2>
    <img src="static/first_stock_chart.png" alt="First Stock Chart">
    <h2>Second Stock Chart</h2>
    <img src="static/second_stock_chart.png" alt="Second Stock Chart">

</body>

</html>
